.footer {
  background: #031031;
  padding: 30px 0;
  color: #fff;
  font-size: 1.4rem;

  &__logo {
    height: 50px;
    width: 125px;
    margin-bottom: 20px;
  }

  .flex-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .adress {
      a {
        margin-bottom: 15px;
        display: inline-block;

        &:hover {
          transform: scale(1.02);
          color: #f60;
          font-weight: bold;
        }
      }

      &__paris {
        margin-bottom: 25px;
        .paris {
          color: #f60;
          font-weight: bold;
        }
      }

      .nantes {
        color: #f60;
        font-weight: bold;
      }
    }

    .links-one-two-container {
      display: flex;
      .links-one {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 30px;

        .links-one_part-one,
        .links-one__part-two {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          a {
            padding: 0 0 1.5rem 0;

            .fa-angle-right {
              color: #f60;
              padding-left: 1.5rem;
              font-size: 1.3rem;
              transition: transform 0.3s;
            }

            &:hover {
              .fa-angle-right {
                transform: translateX(-0.5rem);
              }
            }
          }
        }
      }

      .links-two {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .links-two__part-one,
        .links-two__part-two {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          a {
            padding: 0 0 1.5rem 0;

            .fa-angle-right {
              color: #f60;
              padding-left: 1.5rem;
              font-size: 1.3rem;
              transition: transform 0.3s;
            }

            &:hover {
              .fa-angle-right {
                transform: translateX(-0.5rem);
              }
            }
          }
        }
      }

      @media (max-width: 1024px) {
        flex-direction: column;

        .links-one {
          margin-bottom: 30px;
        }
      }
    }

    .links-three-container {
      display: flex;
      @media (max-width: 680px) {
        display: flex;
        flex: 0 0 100%;

        .links-three {
          margin: 0 auto;
          margin-top: 30px;
        }
      }

      .links-three {
        display: flex;
        flex-direction: column;
        font-size: 1.8rem;
        text-align: center;

        &__contact-btn {
          background: #f60;
          padding: 10px 20px;
          border-radius: 5px;
          transition: background-color 0.2s;
          margin-bottom: 20px;

          &:hover {
            background: lighten(#f60, 10%);
          }
        }

        &__rgpd {
          display: flex;
          align-items: center;
          padding: 10px 20px;
          border-radius: 5px;
          background: rgba(255, 255, 255, 0.2);
          transition: background-color 0.2s;
          margin-bottom: 20px;

          &:hover {
            background: rgba(255, 255, 255, 0.3);
          }

          img {
            width: 25px;
            height: 25px;
            padding-right: 10px;
          }
        }
      }
    }
  }

  .flex-container {
    display: flex;
    padding-top: 15px;
    margin-top: 30px;
    border-top: 1px solid rgba($color: #f4f4f4, $alpha: 0.5);

    .social-networks {
      margin-left: 20px;
      img {
        height: 25px;
        width: 25px;
        margin-left: 5px;
        transition: transform 0.2s;

        &:hover {
          transform: scale(0.9);
        }
      }
    }

    .languages {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      flex: 1;

      ul {
        display: flex;
        list-style: none;
        margin-left: 10px;

        li {
          margin-left: 15px;
          a > img {
            height: 25px;
            width: 25px;
            transition: transform 0.2s;

            &:hover {
              transform: scale(0.9);
            }
          }
        }
      }
    }

    @media (max-width: 680px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .mobile-flex {
        display: flex;
        align-items: center;
      }

      .languages {
        margin-top: 15px;
      }
    }

    @media (max-width: 430px) {
      .mobile-flex {
        flex-direction: column;

        .legal-notice {
          margin-bottom: 10px;
        }
      }

      .languages {
        display: none;
      }
    }
  }
}
