.header {
  background: linear-gradient(120deg, #f60 0, #fcbb31 100%);

  &__title {
    padding: 175px 0px 100px 0;
    max-width: 960px;
    margin: auto;
    color: #fff;
    position: relative;

    h1 {
      font-size: 6rem;
      line-height: 1.4;
      font-weight: 400;
      margin-bottom: 20px;

      @media (max-width: 840px) {
        font-size: 4.5rem;
      }

      @media (max-width: 640px) {
        font-size: 4rem;
        text-align: center;
      }
    }

    p {
      font-size: 2.2rem;
      line-height: 1.5;
      font-weight: 300;
      max-width: 580px;

      @media (max-width: 640px) {
        text-align: center;
      }
    }
    div {
      width: 100%;
      a {
        font-size: 2rem;
        display: inline-block;
        margin-top: 50px;
        text-transform: uppercase;
        background: #ffb900;
        border-radius: 5px;
        padding: 10px 20px;
        transition: 0.3s;

        &:hover {
          background: #f60;
        }
      }

      @media (max-width: 640px) {
        text-align: center;
      }
    }

    @media (max-width: 1024px) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (max-width: 640px) {
      padding: 175px 30px 50px 30px;
    }
  }

  &__illustration {
    background: url("https://www.lucca.fr/img/home/header-illu-home.png")
      no-repeat;
    width: 100%;
    height: 530px;
    position: absolute;
    top: 220px;
    right: -400px;
    background-size: contain;
    z-index: 10;

    @media (max-width: 1024px) {
      right: -430px;
    }

    @media (max-width: 640px) {
      display: none;
    }
  }
}
