.flex {
  display: flex;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.philosophy {
  margin-bottom: 100px;
  .philosophy__part-one {
    background: url("https://www.lucca.fr/img/home/cleemy-home-lucca.svg")
      no-repeat;
    background-position: right 10% center;
    background-size: 30%;
    margin-bottom: 100px;

    .part-one__item {
      flex-basis: 30%;
      margin-right: 60px;

      h3 {
        color: #f60;
        font-size: 3rem;
        font-weight: 300;
        margin-bottom: 20px;
      }

      p {
        font-size: 1.6rem;
        margin-bottom: 15px;
        line-height: 1.4;
      }

      a {
        font-size: 1.6rem;
        text-transform: uppercase;
        background: #fbb900;
        color: #fff;
        padding: 10px 20px;
        display: inline-block;
        margin-top: 30px;
        border-radius: 5px;
        transition: 0.2s ease-in-out;

        &:hover {
          background: #f60;
        }
      }
    }

    @media (max-width: 1024px) {
      padding-top: 375px;
      background-position: center top 50px;
      background-size: 400px;

      .part-one__item {
        flex-basis: 40%;
        margin: 0 auto;
      }
    }

    @media (max-width: 740px) {
      .flex {
        flex-direction: column;
      }
    }
  }

  .philosophy__part-two {
    background: url("https://www.lucca.fr/img/home/mme-poplee-home-lucca.svg")
      no-repeat;
    background-position: left 10% center;
    background-size: 30%;
    margin-bottom: 100px;

    .part-two__item {
      flex-basis: 30%;
      margin-left: 60px;
      h3 {
        color: #f60;
        font-size: 3rem;
        font-weight: 300;
        margin-bottom: 20px;
      }

      p {
        font-size: 1.6rem;
        margin-bottom: 15px;
        line-height: 1.4;
      }

      a:not(.item__contact-btn) {
        color: #f60;
        &:hover {
          text-decoration: underline;
        }
      }

      .item__contact-btn {
        font-size: 1.6rem;
        text-transform: uppercase;
        background: #fbb900;
        color: #fff;
        padding: 10px 20px;
        display: inline-block;
        margin-top: 30px;
        border-radius: 5px;
        transition: 0.2s ease-in-out;

        &:hover {
          background: #f60;
        }
      }
    }

    @media (max-width: 1024px) {
      padding-top: 375px;
      background-position: center top 50px;
      background-size: 400px;

      .part-two__item {
        flex-basis: 40%;
        margin: 0 auto;
      }
    }

    @media (max-width: 740px) {
      .flex-end {
        flex-direction: column;
      }
    }
  }
}
