.quote {
  background: linear-gradient(120deg, #f60, #ffb900);
  color: #fff;
  padding: 50px;
  text-align: center;
  margin-bottom: 100px;

  .centered {
    max-width: 680px;
    margin: 0 auto;

    p {
      margin-bottom: 10px;
      font-size: 3.2rem;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: -50px;
        background: url("https://www.lucca.fr/img/ico/ico-white-quote.svg")
          no-repeat;
        background-size: contain;
        height: 60px;
        width: 60px;
        opacity: 0.2;
      }

      &::after {
        content: "";
        position: absolute;
        right: -50px;
        transform: rotate(180deg);
        background: url("https://www.lucca.fr/img/ico/ico-white-quote.svg")
          no-repeat;
        background-size: contain;
        height: 60px;
        width: 60px;
        opacity: 0.2;
      }
    }

    span {
      font-size: 1.6rem;
    }
  }
}
