.stats {
  background: linear-gradient(120deg, #f60, #ffb900);
  padding: 100px 0;
  color: #fff;

  h3 {
    font-size: 2.4rem;
    font-weight: 300;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
  }

  &__cards {
    display: flex;
    justify-content: space-between;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 30%;
      padding: 45px 0;
      img {
        height: 90px;
        width: 90px;
        margin-bottom: 15px;
      }

      p {
        font-size: 3rem;
        margin-bottom: 15px;
        font-weight: bold;
      }

      p:last-child {
        font-weight: 300;
        margin-bottom: 0;
      }
    }

    @media (max-width: 760px) {
      flex-direction: column;
      flex-basis: 100%;

      .card {
        margin: 25px 0;
      }
    }
  }

  .card-one {
    background: #ffb900;
  }

  .card-two {
    background: rgba(255, 255, 255, 0.2);
  }

  .card-three {
    background: none;
    border: 2px solid #fff;
  }
}
